
<div class="container">

<!--Section: Features v.1-->
<section id="features" class="mt-4 mb-5 pb-5">

    <!--Section heading-->
    <h1 class="text-center mb-5 mt-5 pt-5 font-weight-bold dark-grey-text wow fadeIn" data-wow-delay="0.2s">
    Produit</h1>
    <!--Section sescription-->
    <p class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">
    Les formats produits sont adaptés aux nouveaux modes de consommation de l’information, multimédias, ludiques,
    interactifs, agile.
    </p>

    <!--First row-->
    <div class="row features-big my-4 text-center">
    <!--First column-->
    <div class="col-md-4 mb-4 wow fadeIn" data-wow-delay="0.4s">
        <div class="card hoverable">
        <i class="fas fa-cogs blue-text mt-3 fa-3x my-4"></i>
        <h5 class="font-weight-bold mb-4">Technologie</h5>
        <p class=" grey-text font-small mx-3">L’innovation de Lolilearn repose sur une technologie permettant de
            contrôler « à priori » la qualité
            scientifique et pédagogique des contenus de formation proposés.</p>
            <br>
        </div>
    </div>
    <!--/First column-->

    <!--Second column-->
    <div class="col-md-4 mb-4 wow fadeIn" data-wow-delay="0.4s">
        <div class="card hoverable">
        <i class="fas fa-microscope blue-text mt-3 fa-3x my-4"></i>
        <h5 class="font-weight-bold mb-4">Scientifique</h5>
        <p class="grey-text font-small mx-3">Qualité scientifique car l’information est extraite des référentiels
            ou issue d’avis d’experts lorsqu’aucun consensus n’est identifiable dans la bibliographie.</p>
            <br>
        </div>
    </div>
    <!--/Second column-->

    <!--Third column-->
    <div class="col-md-4 mb-1 wow fadeIn" data-wow-delay="0.4s">
        <div class="card hoverable">
        <i class="fas fa-graduation-cap blue-text mt-3 fa-3x my-4"></i>
        <h5 class="font-weight-bold mb-4">Pédagogie</h5>
        <p class=" grey-text font-small mx-3">Qualité pédagogique car les besoins de l’apprenant sont modélisés
            permettant de les préciser en intégrant notamment les connaissances qu’il « ignore ignorer »… et dont il
            ne peut pas initier la recherche.</p>
        </div>
    </div>
    <!--/Third column-->
    </div>
    <!--/First row-->

</section>
<!--/Section: Features v.1-->
</div>
