

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

section.view#home{
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/37.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }

    html,
    body,
    header,
    .view {
      height: 100%;
    }
  /************* Header *****************/ 

.font-weight-bold {
font-weight: 700!important;
}
header .navbar:not(.top-nav-collapse) {
    background: 0 0;
}  
header nav.navbar {
    background-color: #3e4551;
    margin-bottom: 0px;
    box-shadow: none;
}

.btn-outline-white {
    border: 2px solid #fff!important;
    background-color: transparent!important;
    color: #fff!important;
    border-radius: 10em;
    padding-top: .7rem;
    padding-bottom: .7rem;
    padding: .84rem 2.14rem;
    font-size: .81rem;
}



a.btn.btn-blue{
    border-radius: 50px;
}
.top-footer-color{
    background-color: #0288d1;
}


.streak.streak-photo.streak-long-2{
    background-image: url('https://mdbootstrap.com/img/Others/doctor.jpg');
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Custom Elastislide Styling */

.demo-1 .elastislide-horizontal {
	padding: 10px 37px;
	border-radius: 10px/90px;
	box-shadow: 
		0 1px 3px rgba(0, 0, 0, 0.1), 
		inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), 
		inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), 
		inset 10px 0 10px 1px rgba(155, 155, 155, 0.1);
}

.demo-1 .elastislide-wrapper:before,
.demo-1 .elastislide-wrapper:after{
	content: '';
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left:  20px;
	width: 50%;
	height: 20%;
	border-radius: 10px/90px;
	box-shadow: 0 15px 10px rgba(0,0,0,0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.demo-1 .elastislide-wrapper:after {
	right: 20px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}


.help{
    color: red;
}