<div class="container demo-1">
	
    <!-- Elastislide Carousel -->
    <ul id="carousel" class="elastislide-list">
      <li><a href="#"><img src="../../../assets/images/38.jpg" alt="image01" /></a></li>
      <li><a href="#"><img src="../../../assets/images/39.jpg" alt="image02" /></a></li>
      <li><a href="#"><img src="../../../assets/images/40.jpg" alt="image03" /></a></li>
      <li><a href="#"><img src="../../../assets/images/41.jpg" alt="image04" /></a></li>
      <li><a href="#"><img src="../../../assets/images/38.jpg" alt="image05" /></a></li>
      <li><a href="#"><img src="../../../assets/images/39.jpg" alt="image06" /></a></li>
      <li><a href="#"><img src="../../../assets/images/40.jpg" alt="image07" /></a></li>
      <li><a href="#"><img src="../../../assets/images/41.jpg" alt="image08" /></a></li>

     
    </ul>
    <!-- End Elastislide Carousel -->

    
  </div>